IonToast{
    color: #135d54;
}
.nepe{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(75, 75, 75);
}
ion-toast {
  --background: #632c2c;
  --box-shadow: 3px 3px 10px 0 rgba(0, 0, 0, 0.2);
  --color: #000000;
  --border-radius: 10px ;
}  
.NoCol{
  --background:rgba(255, 255, 255, 0);
  color: rgb(209, 195, 219);
}
  .login-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50%; 
    max-width: 100%;
    padding: 4%;
    background-color: rgb(31, 31, 31); 
    box-shadow: 0 4px 8px rgba(0, 0, 0.1, 0.1); 
    border-radius: 8px; 
  }
  
  .login-container ion-item,
  .login-container ion-button {
    width: 100%;
  }
